name: GitHub Pages Deploy Action
on:
  push:
    paths:
      - '**/*.json'
      - '**/*.html'
      - '**/*.yml'

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: "${{ secrets.GITHUB_TOKEN }}"
          publish_branch: gh-pages
