name: GitHub Pages Deploy Action
on:
  push:
    branches:
      - main
    paths:
      - '**/*.json'
      - '**/*.html'
      - '**/*.yml'

permissions:
  contents: write

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Git
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

      - name: Push specific files to gh-pages
        env:
            github_token: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git checkout -B gh-pages
          git add *.json *.html
          if git diff-index --quiet HEAD; then
            echo "No changes to commit."
          else
            git commit -m "chore: deploy updates"
            git push --set-upstream origin gh-pages --force
          fi
